.news_header {
  padding-top: 80px;
  padding-bottom: 10px;
  margin: 0;
  color: $accent-color;
  text-align: center;
  h1 {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 3rem;
    padding: 20px;
    color: $accent-color;
  }
}

.news_content {
  padding-top: 30px;
  padding-bottom: 50px;
  width: 95%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left_link {
  position: fixed;
  top: 400px;
  left: 30px;
  font-size: 1.5rem;
  text-decoration: none;
  color: $light-color;
  border-bottom: 1px solid $light-color;
}

.right_link {
  position: fixed;
  top: 400px;
  right: 30px;
  font-size: 1.5rem;
  text-decoration: none;
  color: $light-color;
  border-bottom: 1px solid $light-color;
}

.bottom_link {
  display: none;
}

.news_text_container {
  width: 90%;
  max-width: 900px;
  height: auto;
  font-size: 1rem;
  padding-top: 40px;
  padding-bottom: 40px;
  display: inline;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: $light-color;

  figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 80%;
    max-width: 700px;
    height: auto;
    align-self: center;
    padding: 20px 0;
  }

  li {
    text-align: left;
    padding: 0;

    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  cite {
    font-size: 0.8rem;
  }

  figcaption {
    padding-top: 5px;
    font-size: 0.8rem;
  }

  h2 {
    font-weight: 900;
  }
}

blockquote {
  background-color: rgb(241, 241, 241);
  padding: 10px;
}

p {
  color: $light-color;
}

@media only screen and (max-width: 1150px) {
  .left_link {
    display: none;
  }

  .right_link {
    display: none;
  }

  .bottom_link {
    display: flex;
    z-index: 100;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-size: 1.5rem;
    padding-bottom: 20px;
    padding-top: 40px;
  }
  .news_text_container {
    width: 95%;
  }
  .news_header {
    h1 {
      font-size: 1.6rem;
      line-height: 1.1rem;
      padding: 10px;
    }
  }

  .news_text_container {
    p {
      font-size: 1rem;
      line-height: 1.1;
    }

    .number {
      font-size: 2rem;
      margin: 10px;
    }
  }

  iframe {
    width: 80%;
    max-width: 500px;
    height: auto;
  }

  cite {
    font-size: 0.6rem;
  }

  figcaption {
    padding-top: 5px;
    font-size: 0.6rem;
  }
}
